@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    2 Kozlov Street<br />
    Barrire, L4N5A1<br />
    <abbr title="Phone">P:</abbr>
    +1 705 777 7777
</address>

<address>
    <strong>Support:</strong>   <a href="josemathew.sm@gmail.com">Support@Penthium.com</a><br />
    <strong>Marketing:</strong> <a href="vanditkothari@gmail.com">Marketing@Penthium.com</a><br />
    <strong>Enquiry:</strong> <a href="akhilthakkar@gmal.com">Enquiry@Penthium.com</a>
</address>