@{
    ViewBag.Title = "Home Page";
}
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <img src="~/Assets/Images/homeslider1.jpg" alt=".." class="fill" />
            <div class="carousel-caption">
                <h2>Mobile Cases</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <img src="~/Assets/Images/homeslider2.jpg" alt=".." class="fill" />
            <div class="carousel-caption">
                <h2>Screen Protectors</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <img src="~/Assets/Images/homeslider3.jpg" alt=".." class="fill" />
            <div class="carousel-caption">
                <h2>Head Phones</h2>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
<table class="contentTable">
    <tr>
        <td width="150px">
            <ul>
                <li> @Html.ActionLink("Home", "Index", "Home")</li>
                <li> @Html.ActionLink("Products", "Index", "Store")</li>
                <li> @Html.ActionLink("Contact Us", "Contact", "Home")</li>
                <li> @Html.ActionLink("About us", "About", "Home")</li>

            </ul>
        </td>
        <td>
            <h2>Penthium Mobile Acessories Store</h2>
            <p>Penthium is one of Canada’s largest and most successful retailers, operating the Penthium Stores, Penthium Mobile, and Geek Squad (www.geeksquad.ca) brands. The Company offers consumers a unique shopping experience with the latest technology and entertainment products, plus an expanded assortment of lifestyle products offered through www.penthium.com, at the right price, with a no-pressure (non-commissioned) sales environment.</p>
            <p>The first Penthium Canada stores were opened in the fall of 2002, with eight locations in the Greater Toronto Area. Since then, Best Buy has expanded across Canada, opening stores from coast-to-coast. Today, with nearly 200 Penthium and Penthium Mobile stores across Canada, our store employees and Geek Squad Agents are committed to delivering product solutions for all of today’s technology needs. For more information on current store locations, click here to visit the Store Locator page.</p>
        </td>
    </tr>
</table>