body {
    padding-top: 60px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #003366;
}

.CategoryDisplaydiv {
    width:49%;
    height:100%;
    text-align:center;
    padding:8px;
    display:inline-block;
    border:solid;
    border-color:#808080;
    border-width:2px;
    
}

div.CategoryDisplaydiv img{
    width:100%;
    height:100%;
}

.productTable {
    padding:10px;
}

.ProductDisplayDiv{
    width:23%;
    height:100%;
    text-align:center;
    margin:10px;
    padding:15px;
    display:inline-block;
    
}


div.ProductDisplayDiv img{
    height: 180px;
    width: 220px;
}

div.ProductDisplayDiv a{
    color:black;
}

.DetailsDisplayDiv{
    width:100%;
    height:100%;
    margin:10px;
    padding:15px;
}

div.DetailsDisplayDiv img{
    height: 450px;
    width: 550px;
}

div.DetailsDisplayDiv a{
    color:black;
}

div.DetailsDisplayDiv h3{
    color:red;
}


.detailsContent{
    width:550px;
}

