@model int
@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order number is: @Model</p>
<p>The order will be shipped to your address in 3 buisness days.</p>
<p>
    Continue Shopping for More.
    @Html.ActionLink("store", "Index", "Home")
</p>