@using PenthiumStore.Models
@model Category

@{
    ViewBag.Title = "Browse";
}

<h2>@Model.Name</h2>

    @foreach (Product product in Model.Products)
    {

        <div class="ProductDisplayDiv">
            <table>
                <tr>

                    <td class="dishTable">
                       @Html.ActionLink(product.Name, "Details", new { id = product.ProductId })
                        <br />
                    </td>
                </tr>

            </table>

        </div>
    }